<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="data" multiTemplateDataRows>
      <ng-container matColumnDef="expandRow">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="expandedElement != element" mat-icon-button color="primary" matRipple class="element-row"
          [class.expanded]="expandedElement == element" (click)="expandProduct(element)">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="expandedElement == element" mat-icon-button color="warn" (click)="collapseProduct()">
          <mat-icon>remove</mat-icon>
        </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
      </ng-container>
  
      <!-- Expanded Content Column - The detail row is made up of this one column -->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail" [attr.colspan]="displayedColumns.length" style="background-color:#efffff;"> 
          <div class="example-element-detail" fxLayout="column"
          [@detailExpand]="details == expandedElement ? 'expanded' : 'collapsed'">
          <p class="matlabelcustom"><b>Mark sheet:</b></p>
          <div fxLayout="row" class="subTableHeading">
            <div fxFlex="25">subject</div>
            <div fxFlex="25">marks</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let element of details?.score" style="text-align: center">
            <div fxFlex="25">{{element?.subject}}</div>
            <div fxFlex="25">{{element?.marks}}</div>
          </div>
        </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
        [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
      </mat-row>
    </table>
  </div>